### 3. Normalized Design

Check out William Kent's paper "A Simple Guide to Five Normal Forms in Relational Database Theory" (http://www.bkent.net/Doc/simple5.htm) for a lot more about normalization and how it can help your database design.

Wikipedia's article (http://en.wikipedia.org/wiki/Database_normalization) on database normalization is somewhat brief, but describes some of the history of normalization as well as some more of the motivations for it.

You will sometimes hear about denormalization as an approach to making database queries faster by avoiding joins. This is an advanced topic beyond the scope of this course. But if you're interested in it, on modern database systems (such as PostgreSQL) it is often possible to meet the same goals using tools such as indexes (http://www.postgresql.org/docs/9.4/static/sql-createindex.html) and materialized views (http://www.postgresql.org/docs/9.4/static/sql-creatematerializedview.html).

### 4. What's Normalized?

Rules for normalized tables:  

**1.Every row has the same number of columns.**  
In practice, the database system won't let us literally have different numbers of columns in different rows. But if we have columns that are sometimes empty (null) and sometimes not, or if we stuff multiple values into a single field, we're bending this rule.  

The example to keep in mind here is the diet table from the zoo database. Instead of trying to stuff multiple foods for a species into a single row about that species, we separate them out. This makes it much easier to do aggregations and comparisons.

**2.There is a unique key and everything in a row says something about the key.**  
The key may be one column or more than one. It may even be the whole row, as in the diet table. But we don't have duplicate rows in a table.  

More importantly, if we are storing non-unique facts — such as people's names — we distinguish them using a unique identifier such as a serial number. This makes sure that we don't combine two people's grades or parking tickets just because they have the same name.  
  
**3.Facts that don't relate to the key belong in different tables.**  
The example here was the items table, which had items, their locations, and the location's street addresses in it. The address isn't a fact about the item; it's a fact about the location. Moving it to a separate table saves space and reduces ambiguity, and we can always reconstitute the original table using a join.  
  
**4.Tables shouldn't imply relationships that don't exist.**  
The example here was the job_skills table, where a single row listed one of a person's technology skills (like 'Linux') and one of their language skills (like 'French'). This made it look like their Linux knowledge was specific to French, or vice versa ... when that isn't the case in the real world. Normalizing this involved splitting the tech skills and job skills into separate tables.

### 5. Create Table And Types

There are occasions where you'd want to create tables from within your application's code. For instance, this can be a handy way to have it set itself up when you first run it. (That's what your browser does when it creates your cookies file, for instance.)

### 6. Creating And Dropping

Since not everything fits on the screen at once, here's what to try in psql:

Create a new database called fishies (or whatever you like).
Connect to it with \c fishies, or by exiting psql and running psql fishies.
In the new database, create a table that has two columns: a text column and a serial column.
Try running insert statements into this table, providing only a value for the text column. (For an example, scroll down to the bottom of this page.)
Look up these commands in the PostgreSQL documentation:

Create Database (http://www.postgresql.org/docs/9.4/static/sql-createdatabase.html)  
Drop Database (http://www.postgresql.org/docs/9.4/static/sql-dropdatabase.html)  
Create Table (http://www.postgresql.org/docs/9.4/static/sql-createtable.html)  
Drop Table (http://www.postgresql.org/docs/9.4/static/sql-droptable.html)  

Here's an example insert statement you might try. Replace sometable with the name of the table you created:

insert into sometable values ('This is text!');

For more detail on the serial type, take a look at the last section of this page in the PostgreSQL manual: http://www.postgresql.org/docs/9.4/static/datatype-numeric.html

### 11. Counting what isn’t there

Counting rows in a single table is something you’ve seen many times before in this course. A column aggregated with the count aggregation function will return the number of rows in the table, or the number of rows for each value of a group by clause.  

For instance, you saw queries like these back in Lesson 2:  

select count(*) from animals;  
-- returns the number of animals in the zoo  

select count(*) from animals where species = ‘gorilla’;  
-- returns the number of gorillas  

select species, count(*) from animals group by species;  
-- returns each species’ name and the number of animals of that species  

Things get a little more complicated if you want to count the results of a join. Consider these tables we saw earlier in Lesson 4, the products and sales tables for a store:  

Products and Sales  

Suppose that we want to know how many times we have sold each product. In other words, for each sku value in the products table, we want to know the number of times it occurs in the sales table. We might start out with a query like this:  

select products.name, products.sku, count(*) as num
  from products join sales
    on products.sku = sales.sku
  group by products.sku;
But this query might not do exactly what we want. If a particular sku has never been sold — if there are no entries for it in the sales table — then this query will not return a row for it at all.

If we wanted to see a row with the number zero in it, we’ll be disappointed!

However, there is a way to get the database to give us a count with a zero in it. To do this, we’ll need to change two things about this query —
~~~~
select products.name, products.sku, count(sales.sku) as num
  from products left join sales
    on products.sku = sales.sku
  group by products.sku;
  ~~~~
This query will give us a row for every product in the products table, even the ones that have no sales in the sales table.  

What’s changed? First, we’re using count(sales.sku) instead of count(*). This means that the database will count only rows where sales.sku is defined, instead of all rows.  

Second, we’re using a left join instead of a plain join.  

**Um, so what’s a left join?**  
SQL supports a number of variations on the theme of joins. The kind of join that you have seen earlier in this course is called an inner join, and it is the most common kind of join — so common that SQL doesn’t actually make us say "inner join" to do one.  

But the second most common is the left join, and its mirror-image partner, the right join. The words “left” and “right” refer to the tables to the left and right of the join operator. (Above, the left table is products and the right table is sales.)  

A regular (inner) join returns only those rows where the two tables have entries matching the join condition. A left join returns all those rows, plus the rows where the left table has an entry but the right table doesn’t. And a right join does the same but for the right table.  

(Just as “join” is short for “inner join”, so too is “left join” actually short for “left outer join”. But SQL lets us just say “left join”, which is a lot less typing. So we’ll do that.)

#### Counting what isn't there - Solution

Here's the original query from the quiz again —
~~~
select programs.name, count(*) as num
       from programs join bugs
         on programs.filename = bugs.filename
       group by programs.name
       order by num;
       ~~~
And here's one possible corrected version:  
~~~~
select programs.name, count(bugs.filename) as num
       from programs left join bugs
         on programs.filename = bugs.filename
       group by programs.name
       order by num;
       ~~~~
Something to watch out for: What do you put in the count aggregation? If you leave it as count(*) or use a column from the programs table, your query will count entries that don't have bugs as well as ones that do.  

In order to correctly report a zero for programs that don't have any entries in the bugs table, you have to use a column from the bugs table as the argument to count. For instance, count(bugs.filename) will work, and so will count(bugs.description).

### 12. Subqueries

Here are some sections in the PostgreSQL documentation that discuss other forms of subqueries:

Scalar Subqueries (http://www.postgresql.org/docs/9.4/static/sql-expressions.html#SQL-SYNTAX-SCALAR-SUBQUERIES)  
Subquery Expressions (http://www.postgresql.org/docs/9.4/static/functions-subquery.html)  
The FROM clause (http://www.postgresql.org/docs/9.4/static/sql-select.html#SQL-FROM)

### 13. One Query, not two

SQLite does not require a table alias (the as subq part) in this query. However, PostgreSQL does, and other database systems may.

In [4]:
# Find the players whose weight is less than the average.
# 
# The function below performs two database queries in order to find the right players.
# Refactor this code so that it performs only one query.
#

def lightweights1(cursor):
    """Returns a list of the players in the db whose weight is less than the average."""
    cursor.execute("select avg(weight) as av from players;")
    av = cursor.fetchall()[0][0]  # first column of first (and only) row
    cursor.execute("select name, weight from players where weight < " + str(av))
    return cursor.fetchall()

def lightweights2(cursor):
    """Returns a list of the players in the db whose weight is less than the average."""
    cursor.execute("select name, weight from players where weight < (select avg(weight) as av from players);")
    return cursor.fetchall()

def lightweights(cursor):
    """Returns a list of the players in the db whose weight is less than the average."""
    cursor.execute("select name, weight \
                   from players, (select avg(weight) as av from players) as subq \
                   where weight < av;"
                  )
    return cursor.fetchall()